<aside class="menu-lateral">
  <ul>
    <a href="https://github.com/JLpensador" target="_blank">
      <img
        src="../../../../assets/image/github.png"
        alt="GitHub"
        class="icone"
      />
    </a>

    <a
      href="https://www.linkedin.com/in/joão-luiz-borges-morais-242751268/"
      target="_blank"
    >
      <img
        src="../../../../assets/image/linkedin.png"
        alt="LinkedIn"
        class="icone"
        style="width: 55px"
      />
    </a>
  </ul>
</aside>
