.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-content-container {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
}

.mat-mdc-raised-button:not(:disabled) {
  background-color: #00b4fc;
}
